In [1]:
import pandas as pd

In [2]:
!ls

CleanedmergedSharkTankData.csv mergedSharkTankData.csv
Sharktankpitchesdeals.csv      shark_tank.csv
csv_to_sql.ipynb               shark_tank.sql

In [3]:
df = pd.read_csv("CleanedmergedSharkTankData.csv")

In [4]:
df.head()

,Title,Episode,Season,Episode_Code,Category,Entrepreneurs,Location,Website,Amount Asked For,Exchange For Stake,Valuation,Shark 1,Shark 2,Shark 3,Shark 4,Shark 5,Deal Status,Shark(s) That Made a Deal,Multiple Entreprenuers,Description
0,Ionic Ear,1,1,101,Novelties,Darrin Johnson,"St. Paul, MN",NaN,1000000,0.15,6666667,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,No Deal Made,NaN,False,Bluetooth device implant for your ear.
1,Mr. Tod's Pie Factory,1,1,101,Specialty Food,Tod Wilson,"Somerset, NJ",http://whybake.com/,460000,0.10,4600000,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Deal Made,BC+DJ,False,Retail and wholesale pie factory with two reta...
2,Ava the Elephant,1,1,101,Baby and Child Care,Tiffany Krumins,"Atlanta, GA",http://www.avatheelephant.com/,50000,0.15,333333,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Deal Made,BC,False,Ava the Elephant is a godsend for frazzled par...
3,College Foxes Packing Boxes,1,1,101,Consumer Services,"Nick Friedman, Omar Soliman","Tampa, FL",http://collegehunkshaulingjunk.com/,250000,0.25,1000000,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,No Deal Made,NaN,False,"Organizing, packing, and moving services deliv..."
4,Wispots,1,1,101,Consumer Services,Kevin Flannery,"Cary, NC",http://www.wispots.com/,1200000,0.10,12000000,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,No Deal Made,NaN,False,Interactive media centers for healthcare waiti...

In [5]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/robertorobles/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (1.3.9)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine("sqlite:///SharkTank.sqlite")
conn = engine.connect()

In [8]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [9]:
Base = declarative_base()
class User (Base):
    __tablename__ = "Shark_Tank"
    Title = Column(String, primary_key=True)
    Episode = Column(String)
    Season = Column(String)
    Episode_Code = Column("Episode Code", String)
    Category = Column(String)
    Entrepreneurs = Column(String)
    Location = Column(String)
    City = Column(String)
    State = Column(String)
    Website = Column(String)
    Amount_Requested = Column("Amount Asked For", String)
    Exchange_4_Stake = Column("Exchange For Stake", String)
    Valuation = Column(String)
    Shark1 = Column("Shark 1", String)
    Shark2 = Column("Shark 2", String)
    Shark3 = Column("Shark 3", String)
    Shark4 = Column("Shark 4", String)
    Shark5 = Column("Shark 5", String)
    Deal_Status = Column("Deal Status", String)
    SharkThatMadeDeal = Column("Shark(s) That Made a Deal", String)
    Mult_Entrpnrs = Column("Multiple Entreprenuers", String)
    Description = Column(String(225))

In [10]:
Base.metadata.drop_all(conn)
Base.metadata.create_all(conn)

In [11]:
df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

In [12]:
!open .