In [1]:
import pandas as pd

In [2]:
!ls

CleanedmergedSharkTankData.csv csv_to_sql.ipynb
SharkTank.sqlite               mergedSharkTankData.csv
Sharktankpitchesdeals.csv      shark_tank.csv

In [3]:
df = pd.read_csv("CleanedmergedSharkTankData.csv")

In [4]:
df.head()

,Id,Title,Episode,Season,Episode Code,Category,Entrepreneurs,Location,City,State,...,Shark 5,Deal Status,Shark(s) That Made a Deal,Deal Shark 1,Deal Shark 2,Deal Shark 3,Deal Shark 4,Deal Shark 5,Multiple Entreprenuers,Description
0,1,Ionic Ear,1,1,101,Novelties,Darrin Johnson,"St. Paul, MN",St. Paul,MN,...,Kevin Harrington,No Deal Made,NaN,NaN,NaN,NaN,NaN,NaN,False,Bluetooth device implant for your ear.
1,2,Mr. Tod's Pie Factory,1,1,101,Specialty Food,Tod Wilson,"Somerset, NJ",Somerset,NJ,...,Kevin Harrington,Deal Made,BC+DJ,Barbara Corcoran,Daymond John,NaN,NaN,NaN,False,Retail and wholesale pie factory with two reta...
2,3,Ava the Elephant,1,1,101,Baby and Child Care,Tiffany Krumins,"Atlanta, GA",Atlanta,GA,...,Kevin Harrington,Deal Made,BC,Barbara Corcoran,NaN,NaN,NaN,NaN,False,Ava the Elephant is a godsend for frazzled par...
3,4,College Foxes Packing Boxes,1,1,101,Consumer Services,"Nick Friedman, Omar Soliman","Tampa, FL",Tampa,FL,...,Kevin Harrington,No Deal Made,NaN,NaN,NaN,NaN,NaN,NaN,False,"Organizing, packing, and moving services deliv..."
4,5,Wispots,1,1,101,Consumer Services,Kevin Flannery,"Cary, NC",Cary,NC,...,Kevin Harrington,No Deal Made,NaN,NaN,NaN,NaN,NaN,NaN,False,Interactive media centers for healthcare waiti...

In [5]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/robertorobles/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (1.3.9)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine("sqlite:///SharkTank.sqlite")
conn = engine.connect()

In [8]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [9]:
Base = declarative_base()
class User (Base):
    __tablename__ = "Shark_Tank"
    Id = Column(Integer, primary_key=True)
    Title = Column(String)
    Episode = Column(String)
    Season = Column(String)
    Episode_Code = Column("Episode Code", String)
    Category = Column(String)
    Entrepreneurs = Column(String)
    Location = Column(String)
    City = Column(String)
    State = Column(String)
    Website = Column(String)
    Amount_Requested = Column("Amount Asked For", String)
    Exchange_4_Stake = Column("Exchange For Stake", String)
    Valuation = Column(String)
    Shark1 = Column("Shark 1", String)
    Shark2 = Column("Shark 2", String)
    Shark3 = Column("Shark 3", String)
    Shark4 = Column("Shark 4", String)
    Shark5 = Column("Shark 5", String)
    Deal_Status = Column("Deal Status", String)
    SharkThatMadeDeal = Column("Shark(s) That Made a Deal", String)
    DealShark1 = Column("Deal Shark 1", String)
    DealShark2 = Column("Deal Shark 2", String)
    DealShark3 = Column("Deal Shark 3", String)
    DealShark4 = Column("Deal Shark 4", String)
    DealShark5 = Column("Deal Shark 5", String)
    Mult_Entrpnrs = Column("Multiple Entreprenuers", String)
    Description = Column(String(225))

In [10]:
Base.metadata.drop_all(conn)
Base.metadata.create_all(conn)

In [11]:
df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

In [12]:
!open .